body {
    font-family: Arial;
    background: #f0f0f0;
    text-align: center;
    padding: 20px;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    background: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

li {
    text-align: left;
}
